body {
  background-image: url("../images/space.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

/* Please note that I did not write this code - I added it as a fun intro effect and credited the source. DO not include in homework grade. */

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  /* background-image: linear-gradient(0deg, transparent, black 75%); */
  z-index: 1;
}

.creditRoll {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 125%;
  perspective: 400px;
  text-align: justify;
  font-size: 6rem;
}

.crawl {
  position: relative;
  top: 9999px;
  transform-origin: 50% 100%;
  animation: crawl 90s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

/* Begin code for homework */

#pageWrap {
  width: 1000px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

#star, 
#wars {
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 5px;
  font-size: 5rem;
  font-weight: bold;
  color: black;
  text-shadow: -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow,
    1px 1px 0 yellow;
  margin-bottom: -15px;
  margin-top: -15px;
  padding: 0;
  display: block;
}

h3 {
    display: block;
}

#gameTitle {
  font-family: "PT Sans Narrow", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

#openingHeader {
  text-align: center;
  color: #1017d3;
}

#instructionText {
  font-family: "Paytone One", sans-serif;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
  margin-top: 10px;
  position: relative;
}

.images {
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  z-index: 3;
  border-radius: 160px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 0, 0.632);
}

progress {
  -webkit-appearance: none;
  width: 200px;
  height: 10px;
  position: relative;
  display: block;
  z-index: 5;
}

#health1 {
  top: -268px;
  left: 94px;
  position: relative;
}

#health2 {
  top: -86px;
  left: 94px;
  position: relative;
}

progress::-webkit-progress-value {
  background-color: rgb(215, 8, 8);
  box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  position: relative;
}

#h1No {
  font-family: "PT Sans Narrow", sans-serif;
  color: yellow;
  position: relative;
  top: -280px;;
  left: -308px;
}

#h2No {
  font-family: "PT Sans Narrow", sans-serif;
  color: yellow;
  position: relative;
  top: -138px;
  left: -311px;
}

#avatar {
  position: relative;
  text-align: left;
  font-size: 1.5rem;
  color: white;
  font-family: "PT Sans Narrow", sans-serif;
  text-align: center;
  display: block;
  top: -307px;
  left: -304px;
}

#opponents {
  position: relative;
  text-align: left;
  font-size: 1.5rem;
  color: white;
  font-family: "PT Sans Narrow", sans-serif;
  text-align: center;
  display: block;
  top: -216px;
  left: -297px;
}

button {
  position: relative;
  font-size: 1.3rem;
  border-radius: 50px;
  padding: 15px;
  color: white;
  background: #07b747;
  border: 1px solid white;
  box-shadow: 0px 0px 32px 3px rgba(26, 237, 93, 0.81);
  top: -396px;
  left: -307px;
}
